.register-form {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
}
.register-form_titlebox {
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-form_title {
    font-family: 'Gotham';
    font-weight: 700;
    background: #EEEEEE;
    width: 70rem;
    height: 4rem;
    padding: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}

.register-form_input {
    border: solid 1px;
    border-color: #EEEEEE;
    width: 30rem;
    height: 1.8rem;
    margin-top: 0.5rem;
}

.register_form-button {
    font-family: 'Gotham';
    font-size: 1rem;
    color: white;
    background: #000;
    border: none;
    width: 30.4rem;
    height: 4.4rem;
    margin: 2rem 0rem 0rem 8.3rem;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .register-form {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .register-form_input {
        border: solid 1px;
        border-color: #EEEEEE;
        width: 24rem;
        height: 1.8rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
    }

    .register-form_label {
        margin-left: 2rem;
        margin-top: 0.5rem;
    }

    .register_form-button {
        font-family: 'Gotham';
        font-size: 1rem;
        color: white;
        background: #000;
        border: none;
        width: 24.5rem;
        margin: 2rem;
        height: 4.4rem;
        cursor: pointer;
    }

}