.payment-page {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-family: 'Gotham';
}

.payment-page_right-container {
    background: #000;
    width: 30rem;
    margin: 0 1rem; /* Ajuste el margen si es necesario */
}

.payment-page_right-title {
    font-size: 2rem;
    color: #AC946A;
    border: solid 2px;
    width: fit-content;
    padding: 0.7rem;
    margin-bottom: 2rem;
}

.payment-page_right-hr {
    color: #fff;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.payment-page_right-text {
    font-family: 'Gotham Light';
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.5rem 0.5rem;
}

.payment-page_right-text02 {
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.5rem 0.5rem;
}

.payment-page_right-img02 {
    width: 7rem;
    height: auto;
    margin: 1.5rem;
}

.payment-page_right-article {
    display: flex;
    flex-direction: column; /* Muestra cada artículo una debajo de la otra */
    color: #fff;
}

.payment-page_right-article-text {
    font-size: 1.4rem;
    margin: 1rem 1.5rem 0.5rem;
}

@media only screen and (max-width: 768px){
    .payment-page {
        flex-direction: column;
        align-items: center;
    }

    .payment-page_right-container {
        width: 100%;
        margin: 1rem 0; /* Ajuste el margen si es necesario */
    }

    .payment-page_right-title {
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .payment-page_right-text {
        font-size: 1rem;
    }

    .payment-page_right-text02 {
        font-size: 1.3rem;
    }

    .payment-page_right-img02 {
        width: 7rem;
        height: auto;
        margin: 1.5rem;
    }

    .payment-page_right-article-text {
        font-size: 1.2rem;
    }
}
