.payment-page {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3rem;
    font-family: 'Gotham';
}

.payment-page article {
    display: flex;
    flex-direction: column;
    align-items: center;
}  


.payment-page_right-container {
    background: #000;
    width: 40rem;
}

.payment-page_right-title {
    font-size: 2rem;
    color: #AC946A;
    border: solid 2px;
    width: fit-content;
    padding: 0.7rem;
    margin-bottom: 2rem;
}

.payment-page_right-hr {
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.payment-page_right-text {
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.5rem 0.5rem;
}

.payment-page_right-text02 {
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.5rem 0.5rem;
}

.payment-page_right-img02 {
    width: 8rem;
    height: auto;
    margin: 1.5rem;
}

.payment-page_right-article {
    display: flex;
    flex-direction: row;
    color: #fff;
}

.payment-page_right-article-text {
    color: #fff;
    font-size: 1rem;
}

.payment-page_right-text-desciption-cata{
    font-size: 1.3rem;
    margin-top: 1.5rem;
    color:#AC946A
}

.payment-page_right-text-desciption{
    margin-top: 0.3rem;
    font-size: 1rem;
}

.payment-page_button-delete {
    font-family: 'Gotham';
    font-size: 1rem;
    color: white;
    background: #AC946A;
    border: none;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    margin-top: 1rem;
}

.payment-page_back-button{
    font-family: 'Gotham';
    font-size: 1rem;
    color: white;
    background: #000;
    border: none;
    width: 24.5rem;
    height: 4.4rem;
    cursor: pointer;
    margin-top: 1.5rem;
    text-align: center;
}

@media only screen and (max-width: 768px){
    .payment-page {
        flex-direction: column;
        align-items: center;
    }

    .payment-page_right-container {
        width: 100%;
    }

    .payment-page_right-title {
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .payment-page_right-text {
        font-size: 1rem;
    }

    .payment-page_right-text02 {
        font-size: 1.3rem;
    }

    .payment-page_right-img02 {
        width: 7rem;
        height: auto;
        margin: 1.5rem;
    }

    .payment-page_right-article-text {
        font-size: 1.2rem;
    }
}
