* {
   margin: 0;
}

.page-detail {
   margin: 3em 2rem 5rem 1rem;

}
.page-detail__subtitle {
   font-family: 'Gotham';
   font-size: 0.8rem;
   margin-left: 3rem;
   text-decoration: none;
}

.page-detail__subtitle-link {
   text-decoration: none;
}

.page-detail__subtitlegold {
   font-family: 'Gotham';
   color: #AC946A;
}

.page-detail__title {
   font-family: 'Gotham';
   color: #AC946A;
   font-weight: 900;
   font-size: 2.8rem;
   margin-left: 3rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.page-detail__section01 {
   display: grid;
   grid-template-columns: 40% 50%; 
   gap: 6rem;
}

.page-detail__section01__left {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.page-detail__left__image {
   width: 25rem;
   border-color: #AC946A;
   border-top-width: 2rem; 
   border-bottom-width: 4rem;
   border-left-width: 0.5rem; 
   border-right-width: 0.5rem; 
   border-style: solid;
   display: flex;
   align-content: center;
   justify-self: center;
   
}

.page-detail__left__price {
   font-family: 'Gotham';
   font-size: 4.4rem;
   font-weight: 900;
   text-align: center;
   margin-top: 1rem;
   display: flex;
}

.page-detail__left__iva {
   font-family: 'Gotham';
   font-size: 1rem;
   text-align: center;
   margin-bottom: 2rem;
   display: flex;
}

.page-detail__left__supplement-private {
   display: block;
   align-content: center;
   margin-top: 1rem;
   
   
}

.page-detail__left__suptext {
   font-family: 'Gotham';
   font-size: 1rem;
   font-weight: 500;
   margin-left: 1rem;
   
}

.page-detail__left__extra {
   width: 36rem;
   height: 12rem;
   background: #AC946A;
   padding: 2rem;
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   margin-top: 25rem;
   
}

.page-detail__left__extratext {
   font-family: 'Gotham';
   font-size: 1.1rem;
   padding: 0.4rem;
   font-weight: 500;
   background: #AC946A;
}

.page-detail__left__extracontent {
   display: flex;
   align-items: center;
   background: #AC946A;
}

.page-detail__left__calendar {
   display: flex;
   flex-direction: column;
   
}
.page-detail__left__calendartext {
   font-family: 'Gotham';
   font-size: 1.5rem;
   font-weight: 800;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.page-detail_left_new_data {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 2rem;
   background-color: #000000;
   color: white;
   padding:1vw;
   font-size: 1.25vw;
}

.page-detail__right__description {
   font-family: 'Gotham';
   font-size: 1rem;
   margin-top: 3rem;
   margin-left: 1rem;
   text-align: justify;
}

.page-detail__right__icons {
   display: grid;
   grid-template-columns: 47% 47%;
   grid-template-rows: 10rem;
   grid-column-gap: 2.5rem;
   grid-row-gap: 10rem;
   margin-left: 1.5rem;
}
.page-detail__right__iconscontainer{
   display: flex;
   align-items: center;
   margin-bottom: 2rem;
}

.page-detail__right__iconsimage {
   width: 4rem;
   height: auto;
}
.page-detail__right__iconscolumn{
   display: grid;
   grid-auto-rows: 7rem;
}

.page-detail__right__iconstext {
   font-family: 'Gotham';
   font-size: 1rem;
   margin-left: 1rem;
   font-weight: 500;
}

.page-detail__opinion {
   width: 95%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 3rem;
}

.page-detail__opinion-image {
   width: 75%;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 3rem;
}

.page-detail__hr {
   width: 99%;
}

.page-detail_back {
   display: flex;
   flex-direction: column;
}
.page-detail_back-button {
   font-family: 'Gotham';
   font-size: 1vw;
   color: white;
   background: #000;
   border: none;
   width: 24.5rem;
   height: 4.4rem;
   cursor: pointer;
   padding: 2%;
   margin-left: 1rem;
}

.card-counter-detail {
   display: flex;
   margin-top: 2rem;
   flex-direction: row;
   justify-content: space-evenly;
   align-content: center;
   align-items: center;
   height: fit-content;
   width: 19vw;  
   
}

.buttons-counter {
   display: flex;
   align-items: center;
}

.buttons-counter p {
   font-family: 'Gotham';
   font-size: 5rem;
   font-weight: 800;
}

.buttons-counter button {
   width: 4rem;
   height: 4rem;
   font-size: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   border: 3px solid #000000;
   background: #fff;
}

.adding-cart {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Gotham';
   font-size: 1.5rem;
   font-weight: 800;
   border: none;
   padding: 1.5rem;
   background: #fff;
   
}

.adding-cart:hover {
   transition: 0.25s;
   transform: scale(0.9);
   cursor: pointer;
}

.img-cart {
   width: 3rem;
   height: 3rem;
   margin-left: 1rem;
   padding: 0.5rem;
}

.green-dot {
   width: 10px;
   height: 10px;
   background-color: green;
   border-radius: 50%;
}

@media only screen and (max-width: 768px){
   .page-detail__section01 {
      grid-template-columns: 1fr;
      align-items: center;
   }

   .page-detail {
      margin: 0
   }

   .page-detail__section01__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 5%;
   }

   .page-detail__title, .page-detail__subtitle {
      font-family: 'Gotham';
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-left: 2rem;
   }

   .page-detail__title {
      font-size: 1.8rem;
   }

   .page-detail__left__image {
      width: 20rem;
      height: 40rem;
      border-color: #AC946A;
      border-top-width: 2rem; 
      border-bottom-width: 4rem;
      border-left-width: 0.5rem; 
      border-right-width: 0.5rem; 
      border-style: solid;
      display: flex;
      align-content: center;
      justify-self: center;
   }

   .page-detail__left__price {
      font-family: 'Gotham';
      font-size: 4rem;
      font-weight: 900;
      text-align: center;
      display: flex;
      justify-content: center;
      align-content: center;
      margin-top: 1rem;
   }
   
   .page-detail__left__iva {
      font-family: 'Gotham';
      font-size: .8rem;
      text-align: center;
      margin-bottom: 2rem;
   }

   .page-detail__left__supplement-private {
      display: flex;
      flex-direction: row;
      align-items: left;
      margin-top: 1rem;
      
   }
   
   .page-detail__left__suptext {
      font-family: 'Gotham';
      font-size: .9rem;
      font-weight: 500;
      margin-left: 1rem;
      
   }
   
   .page-detail__left__extra {
      width: 85vw;
      height: 10rem;
      background: #AC946A;
      padding: 2vw;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      margin-left: 2.7rem;
   }
   
   .page-detail__left__extratext {
      font-family: 'Gotham';
      font-size: 0.85rem;
      margin-left: 0.8rem;
      padding: 0.4rem;
      font-weight: 500;
      background: #AC946A;
   }
   
   .page-detail__left__extracontent {
      display: flex;
      align-items: center;
      background: #AC946A;
   }
   
   .page-detail__left__calendar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .page-detail__left__calendartext {
      font-family: 'Gotham';
      font-size: 1.5rem;
      font-weight: 800;
      margin-top: 2rem;
      text-align: center;
      margin-bottom: 2rem;
   }
   
   .page-detail__right__description {
      font-family: 'Gotham';
      font-size: .9rem;
      margin-right: 1.6rem;
      margin-left: 2.7rem;
      margin-top: 3rem;
      text-align: justify;
   }

   .page-detail__right__icons {
      display: grid;
      grid-template-columns: 45% 45%;
      grid-template-rows: 10rem;
      grid-column-gap: 2rem;
      grid-row-gap: 10rem;
      margin-left: 2.5rem;
   }
   .page-detail__right__iconscontainer{
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      margin-top: -6rem;
   }
   
   .page-detail__right__iconsimage {
      width: 3.5rem;
      height: auto;
   }
   .page-detail__right__iconscolumn{
      display: grid;
      grid-auto-rows: 7rem;
   }
   
   .page-detail__right__iconstext {
      font-family: 'Gotham';
      font-size: .8rem;
      margin-left: 1rem;
      font-weight: 500;
   }
   
   .page-detail__opinion {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      margin-top: 3rem;
      align-items: center;
   }
   
   .page-detail__hr {
      width: 90vw;      
   }
   
   .card-counter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: fit-content;      
   }
   
   .buttons-counter {
      display: flex;
      align-items: center;
   }
   
   .buttons-counter p {
      font-family: 'Gotham';
      font-size: 5rem;
      font-weight: 800;
   }
   
   .buttons-counter button {
      width: 4rem;
      height: 4rem;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 3px solid #000000;
      background: #fff;
   }
   
   .adding-cart {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Gotham';
      font-size: 1.5rem;
      font-weight: 800;
      border: none;
      padding: 2rem;
      background: #fff;
   }
   
   .adding-cart:hover {
      transition: 0.25s;
      transform: scale(0.9);
      cursor: pointer;
   }
   
   .green-dot {
      width: 10px;
      height: 10px;
      background-color: green;
      border-radius: 50%;
   }

   .page-detail__opinion-image {
      width: 95%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
   }
   
   .page-detail_back-button {
      font-family: 'Gotham';
      font-size: 0.55rem;
      color: white;
      background: #000;
      border: none;
      width: 50rem;
      padding: 14%;
      text-align: center;
      height: 6rem;
      cursor: pointer;
   }
}




